.imagecontainer{
    position: relative;
    top:0;
    left:0;
}


.character{
    position:relative;
    top:0;
    left:0;
    z-index:1;

}
.shirt{
    position:absolute;
    top:165px;
    left:85px;
    z-index:2;
    
}
.bottoms{
    position:absolute;
    top:230px;
    left:30px;
    z-index:2;
}


/* .hair{
    position:relative;
    top:0;
    left:0;

} */
