*{
    text-align:center;
}

/* .container{
    display:flex;
    justify-content:center;
}


html{
    background:rgb(#FFFF
    \\);
    font-family: 'Jost', sans-serif;
    text-align: center;


} */